altgraph==0.16.1
backcall==0.1.0
decorator==4.4.0
future==0.17.1
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
Pygments==2.15.0
PyInstaller==3.6
PyQt5==5.13.1
PyQt5-sip==4.19.19
six==1.12.0
traitlets==4.3.2
wcwidth==0.1.7
yaspin==0.15.0
